---
sudo: required
language: python
services: docker

env:
  - version=">=2.7,<2.8" distro="alpine-latest" expectation="fail"
  - version="" distro="alpine-latest" expectation="fail"
  - version="devel" distro="alpine-latest" expectation="fail"
  - version=">=2.7,<2.8" distro="alpine-edge" expectation="fail"
  - version="" distro="alpine-edge" expectation="fail"
  - version="devel" distro="alpine-edge" expectation="fail"
  - version=">=2.7,<2.8" distro="archlinux" expectation="fail"
  - version="" distro="archlinux"
  - version="devel" distro="archlinux"
  - version=">=2.7,<2.8" distro="centos-7" expectation="fail"
  - version="" distro="centos-7" expectation="fail"
  - version="devel" distro="centos-7" expectation="fail"
  - version=">=2.7,<2.8" distro="centos-latest"
  - version="" distro="centos-latest"
  - version="devel" distro="centos-latest"
  - version=">=2.7,<2.8" distro="debian-stable"
  - version="" distro="debian-stable"
  - version="devel" distro="debian-stable"
  - version=">=2.7,<2.8" distro="debian-unstable"
  - version="" distro="debian-unstable"
  - version="devel" distro="debian-unstable"
  - version=">=2.7,<2.8" distro="fedora-latest"
  - version="" distro="fedora-latest"
  - version="devel" distro="fedora-latest"
  - version=">=2.7,<2.8" distro="fedora-rawhide"
  - version="" distro="fedora-rawhide"
  - version="devel" distro="fedora-rawhide"
  - version=">=2.7,<2.8" distro="opensuse-leap" expectation="fail"
  - version="" distro="opensuse-leap" expectation="fail"
  - version="devel" distro="opensuse-leap" expectation="fail"
  - version=">=2.7,<2.8" distro="ubuntu-rolling"
  - version="" distro="ubuntu-rolling"
  - version="devel" distro="ubuntu-rolling"
  - version=">=2.7,<2.8" distro="ubuntu-latest"
  - version="" distro="ubuntu-latest"
  - version="devel" distro="ubuntu-latest"
  - version=">=2.7,<2.8" distro="ubuntu-devel"
  - version="" distro="ubuntu-devel"
  - version="devel" distro="ubuntu-devel"

matrix:
  allow_failures:
    - env: version=">=2.7,<2.8" distro="alpine-edge" expectation="fail"
    - env: version="" distro="alpine-edge" expectation="fail"
    - env: version="devel" distro="alpine-edge" expectation="fail"
    - env: version="devel" distro="alpine-latest" expectation="fail"
    - env: version="devel" distro="archlinux"
    - env: version="devel" distro="centos-7" expectation="fail"
    - env: version="devel" distro="centos-latest"
    - env: version="devel" distro="debian-stable"
    - env: version=">=2.7,<2.8" distro="debian-unstable"
    - env: version="" distro="debian-unstable"
    - env: version="devel" distro="debian-unstable"
    - env: version="devel" distro="fedora-latest"
    - env: version=">=2.7,<2.8" distro="fedora-rawhide"
    - env: version="" distro="fedora-rawhide"
    - env: version="devel" distro="fedora-rawhide"
    - env: version="devel" distro="opensuse-leap" expectation="fail"
    - env: version="devel" distro="ubuntu-rolling"
    - env: version=">=2.7,<2.8" distro="ubuntu-devel"
    - env: version="" distro="ubuntu-devel"
    - env: version="devel" distro="ubuntu-devel"
    - env: version="devel" distro="ubuntu-latest"

cache:
  - pip

install:
  - pip install --upgrade pip
  - if [ "${version}" != "devel" ] ; then pip install ansible"${version}" ; fi
  - if [ "${version}" = "devel" ] ; then pip install git+https://github.com/ansible/ansible.git@devel ; fi
  - pip install molecule
  - pip install docker

script:
  - if [ "${expectation}" = "fail" ] ; then ! molecule test --scenario-name "${distro}" ; else molecule test --scenario-name "${distro}" ; fi

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "v/eFjQUzPCovPuOaaLxF0GeJFbkC96weSMLifBbo1yrzQMDgMeOy6iJc/d9bEKGEdHs87sAl6d8ZJQgINdK+i0/5a0dsz02pyexPE4LGUi4pFywUylNyc8B034qWtYoNJpiiWy1v+sbXdM5A4haEk/NIusZD06gZYWJo5ssaBbkjKGuf9VfKaL5rVhn2Exggw7PJ6L62lL5lJOTL2DwKiJif7isdmJ1QrsRt2tyLmUj0wTX/ktF36tSdtnA6/Xlgz7WcwNQqTCGeCgtbDZn1uDyzaPE5m6jKJ2SfO7lbw8VDrkoU6N4mzlegAT3K2nvcNclBrqeZcbp0tagwwpFqjjdD3QFGpGnzItSWm/iP9yy6pDtOsJaM2vK0bKeDOT3eHnaaMA3pRY8UJWLLuvD6VUcGbe+QEP3HQbbgxkAAMTDYbMrdMV6O/pWRQMRUaCtT3JUZKjAwZ0zIy/EqSzxn64ZZtZHOr3GmXONNGt5El/y5BvOZmzYbS98HzskRE7P84N83HCOtMQVeHqeyLUI9751IUC5X4MfZExSfIzrRFlK4C5nGgknx0N3ntBnJ+o+G0WOX/ajloEeJm2E1bkMj0YVCMsbgrZmFY/J4weUtHYLU2tUGRbaHf/cyz6zcA4WMKrE4Kpeyw6bTFxDyjTUs7nS9kEZ+i2mI0cj1P+5gSU8="

  email: false
